@import "tailwindcss";

.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.swiper {
  width: 600px;
  height: 300px;
}

@theme {
    --font-display: "Inter", sans-serif;
}